body {
  margin: 0;
  padding-top: 50px;
  /*padding: 0;*/
  background-color: #fff;
}

/* Nav bar */

.navigation {
  height: 70px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
  text-transform: uppercase;
}

.brand {
  float: left;
  line-height: 70px;
  font-size: 1.4em;
  padding-left: 20px;
 }

.brand a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  float: left;
  position: relative;

}

nav ul li a {
  display: block;
  color: #40a2c1;
  padding: 0 20px;
  background: #FFFFFF;
  text-decoration: none;
  line-height: 70px;
  font-family: Lato,"Helvetica Neue",sans-serif;
}

nav ul li a:hover {
          background: #2581DC;
          color: #ffffff;
          transition: .4s;
}

nav ul li a:not(:only-child):after {
          padding-left: 4px;
          content: '  ▾'; }

nav ul li ul li {
  min-width: 160px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

#demo {
  color: #7c6093;
}

#login {
  color: #94c826;
}


/* Hero */

.hero-bg {
  height: 100%;
  max-height: 468px;
  width: 100%;
  clear: both;
  position: absolute;
  margin-top: 20px;
  margin-bottom: 150px;
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: 20px;

}

h2 {
  color: #044358;
  font-size: 4em;
  margin: 0 0 10px;
  font-family: Lato,"Helvetica Neue",sans-serif;
  font-weight: 300;
}

p {
  color: #000000;
  font-size: 1em;
  font-family: Lato,"Helvetica Neue",sans-serif;
  font-weight: 400;
}

a.btn {
  text-decoration: none;
  color: #005c9e;
  font-size: 1.2em;
  border: 1px solid #fff;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

/* Hero Mobile */

@media screen and (max-width: 480px) {
  .hero-bg {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  h2 {
    font-size: 2em;
  }
}

@media (min-width: 450px) and (max-width: 641px) {
  .hero-bg {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  h2 {
    font-size: 2em;
  }
}

@media (min-width: 641px) and (max-width: 1025px) {
  .hero-bg {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  h2 {
    font-size: 2em;
  }
}
@media (min-width: 1025px) and (max-width: 2000px) {
  .hero-bg {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  h2 {
    font-size: 4em;
  }
}
@media (min-width: 2000px) {
  .hero-bg {
  background: #1c92d2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

.hero-content {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
  height: 100%;
}


/* Mobile Hamburger Menu */

.nav-mobile {
  display: none;
  height: 70px;
  width: 70px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #262626;
}

/*.hero {
  height: 500px;
  background-color: #AAAAAA;
  /*position: fixed;*/
  /*top: 0;*/
  /*width: 100%;*/
  /*margin: 0 auto 0 auto !important*/
  /*background: url(../img/banner-bg.png);
  background-repeat: no-repeat;*/

/*}*/

/* Media Query for Navigation */

@media only screen and (max-width: 800px) {

  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 0 15px;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

   nav ul li a {
          padding: 15px;
          line-height: 20px;
  }

  nav ul li ul li a {
          padding-left: 40px;
          background-color: gray;
  }

}

#logo img {
  width: 175px;
  float: left;
  padding-top: 20px;
  /*margin:32px 0x 34px 0px;*/
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important; } }

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 30px;
    background: pink;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

      
