p {
  color: #000000;
  width: 50%;
  border: 2px solid blue;
  padding-left: 40px;
  margin: 0 auto 0 auto;
}

/*div {
  background: #3498db
}

body {
  background: url(../img/kittyCat.png);
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: top;
}*/
